#heading {
  color: red;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header > .nav-items > ul {
  list-style: none;
  display: flex;
  margin: 20px;
}
.header > .nav-items > ul > li {
  margin: 20px;
}
.logo {
  height: 100px;
  width: 100px;
}
.res-container {
  display: flex;
}
.res-card {
  background-color: #f0f0f0;
  width: 200px;
  padding: 5px;
  margin: 10px;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid #000;
}

.res-card > img {
  height: 150px;
  width: 100%;
}
